
body {
 background-color: coral;
    font-family: 'varela round', sans-serif;


}
h1 {
    text-align: center;

    background-color: blue;

    color: white;

    padding: 20px;

}
